@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(/public/images/city-dark.jpg) fixed;
}

.animated {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
